@layer components {
    input[type='checkbox']:checked{
        background-image: url('https://pagedone.io/asset/uploads/1689406942.svg');
    }
    input[type='checkbox']:disabled:checked{
        @apply bg-[url('https://pagedone.io/asset/uploads/1689403247.png')];
    }
    input[type='checkbox']:indeterminate{
        background-image: url('https://pagedone.io/asset/uploads/1689407165.svg');
    }
    input[type='checkbox']:indeterminate:disabled{
        @apply bg-[url('https://pagedone.io/asset/uploads/1689403311.png')];
    }
    .checkbox-white[type='checkbox']:checked{
        background-image: url('https://pagedone.io/asset/uploads/1705561433.png');
    }
     input[type="radio"] + label span{
        transition: background .2s,
          transform .2s;
    }
    
    input[type="radio"]:disabled + label{
        @apply text-gray-600 text-sm font-normal;
    }
    input[type="radio"] + label span:hover,
    input[type="radio"] + label:hover span{
         @apply scale-100;
    } 
    
    input[type="radio"]:checked + label span {
        @apply border-indigo-500 bg-indigo-500 shadow-[inset_0_0px_0px_3.5px_#E7E7FF];
    }
    
    input[type="radio"]:checked:disabled + label span {
        @apply cursor-not-allowed border border-indigo-200  bg-gray-300 shadow-[inset_0_0px_0px_3.5px_#F2F4F7];
      }
}