@layer components {
    .doc-small-heading{
        @apply text-sm font-medium text-gray-400 uppercase block;
    }
    .doc-heading{
        @apply text-4xl text-gray-900 font-semibold capitalize mb-6;
    }
    .doc-sub-heading{
        @apply text-2xl text-gray-900 font-semibold capitalize mb-2;
    }
    .doc-paragraph-big{
        @apply text-lg text-gray-600 leading-8;
    }
    
    .alert-box{
        @apply bg-indigo-50 p-5  rounded-xl;
    }
    .alert-box-heading{
        @apply text-indigo-600 font-semibold text-base;
    }
    .alert-box-paragraph{
        @apply mt-2 text-gray-800;
    }
    .alert-box-paragraph a{
        @apply text-indigo-600 font-semibold hover:text-indigo-700;
    }
    .alert-box-link{
        @apply inline-flex items-center gap-x-1.5 text-indigo-600 hover:underline font-semibold;
    }
    #mainContent .page-para{
        @apply text-base text-gray-600 leading-8 mb-4;
    }
    #mainContent .page-list {
        @apply list-disc;
    }
     #mainContent .page-list {
        @apply pl-4;
    }
    #mainContent .page-list>li {
        @apply text-base text-gray-600 mb-4 leading-8;
    }
     #mainContent .page-para>code, #mainContent .page-list>li>code {
        @apply text-indigo-600 text-sm px-1;
    }
    .code-preview{
        @apply flex p-4 lg:p-8 bg-white border border-gray-200 rounded-t-2xl;
    }
    .code-syntax{
        @apply relative border-gray-200  border-x border-b rounded-b-2xl;
    }
    .code-syntax-head{
        @apply grid w-full grid-cols-2 border-b border-gray-200 pl-4;
    }
    .code-head-list{
        @apply flex text-base font-medium text-center text-gray-900 !pl-0 !list-none;
    }
    .code-head-list>li{
        @apply !mb-0 !leading-none;
    }
    .code-head-list>li>a{
       @apply inline-block w-full p-4 px-3 text-gray-800 uppercase active:border-b border-gray-800;
    }
    
    .code-copy-button{
        @apply flex justify-end;
    }
    .code-copy-button button{
        @apply w-12 flex justify-center items-center border-l border-gray-200;
    }
    .code-main{
        @apply bg-gray-50 relative rounded-b-2xl;
    }
    .code-wrapper{
        @apply overflow-x-auto overflow-y-hidden max-h-72 rounded-b-2xl;
    }
   
    .code-wrapper :not(pre)>code[class*="language-"], .code-wrapper pre[class*="language-"]{
        @apply bg-gray-50;
    }
    .code-wrapper pre[class*="language-"] {
        @apply p-5 overflow-x-auto mb-0;
    }
    .code-wrapper .token.tag, .code-wrapper .token.class-name, .code-wrapper .token.selector, .code-wrapper .token.selector .class, .code-wrapper .token.selector.class, .code-wrapper .token.function {
        color: #9E1D82;
    }
    .code-wrapper .token.punctuation {
        color: #909090;
    }
    .code-wrapper  code[class*="language-"], .code-wrapper  pre[class*="language-"]{
        color: #000000;
    
    }   
    .code-wrapper .token.attr-name, .code-wrapper .token.keyword, .code-wrapper .token.rule, .code-wrapper .token.pseudo-class, .code-wrapper .token.important {
        color: #3ACB49;
    }
    .code-wrapper .token.attr-value, .code-wrapper .token.class, .code-wrapper .token.string, .code-wrapper .token.property {
        color: #0057FF;
    }
    .code-exapnd-button {
        @apply absolute bottom-0 left-0 py-2.5 px-5 w-full text-sm font-medium text-gray-900 bg-gray-100 border-t border-gray-200 rounded-b-2xl hover:bg-gray-100 hover:text-indigo-600;
    }
    /* .code-preview ul{
        @apply !pl-0 !list-none;
    } */
    /* .code-preview ul>li{
        @apply !mb-0 !leading-none !text-inherit;
    }
    .code-preview ul>li{
       font-size: inherit!important;
    }
    .code-preview p{
        margin-bottom: 0!important;
        font-size: inherit!important;
        color: inherit!important;
    } */

}